<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="QLHS" connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QLHS;Integrated Security=True" />
        <add name="QLHS_Form_Lop.Properties.Settings.QLHSConnectionString"
            connectionString="Data Source=ADMIN\SQLEXPRESS;Initial Catalog=QLHS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>